**Задание 1**
Печатные газеты использовали свой формат дат для каждого выпуска. 
Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
* The Moscow Times - Wednesday, October 2, 2002
* The Guardian - Friday, 11.10.13
* Daily News - Thursday, 18 August 1977

In [4]:
from datetime import datetime

In [13]:
date_list = 'Wednesday, October 2, 2002'.replace(' ', '').split(',')

In [14]:
print(date_list)

['Wednesday', 'October2', '2002']

In [28]:
datetime.strptime(date_list[1]+date_list[2], '%B%d%Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [29]:
date_list = 'Friday, 11.10.13'.replace(' ', '').split(',')

In [30]:
print(date_list)

['Friday', '11.10.13']

In [32]:
datetime.strptime(date_list[1], '%d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [34]:
date_list = 'Thursday, 18 August 1977'.replace(' ', '').split(',')

In [35]:
print(date_list)

['Thursday', '18August1977']

In [36]:
datetime.strptime(date_list[1], '%d%B%Y')

datetime.datetime(1977, 8, 18, 0, 0)

**Задание 2**
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [18]:
def Correcy_date(date):
    try:
        st_date = datetime.strptime(date, '%Y-%m-%d')
        result = True
        return result
    except ValueError:
        result = False
        return result

In [58]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [65]:
for st in stream:
    print(Correcy_date(st))

True
False
False

**Задание 3**
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [1]:
from datetime import timedelta

In [38]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [36]:
def date_range(sd,ed):
    result = []
    if (sd < ed) & (Correcy_date(sd)) & (Correcy_date(ed)):
        start_date_dt = datetime.strptime(sd, '%Y-%m-%d')
        end_date_dt = datetime.strptime(ed, '%Y-%m-%d')
        current_dt = start_date_dt
        while current_dt <= end_date_dt:
            result.append(current_dt.strftime('%Y-%m-%d'))
            current_dt += timedelta(days=1)
    return result

In [39]:
print(date_range(start_date,end_date))

['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07']

In [40]:
start_date = '2019-01-01'
end_date = '2018-01-07'

In [41]:
print(date_range(start_date,end_date))

[]

In [42]:
start_date = '2018-01-01'
end_date = '2018-01-32'

In [43]:
print(date_range(start_date,end_date))

[]

**Задание 4**

In [23]:
DEFAULT_USER_COUNT = 3
default_list=['A100','A101','A102']

def delete_and_return_last_user(default_list):
    #Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя.
    print(len(default_list))
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    print(len(default_list))

    return default_list[DEFAULT_USER_COUNT-2]

In [24]:
delete_and_return_last_user(default_list)

3
2

'A101'

In [25]:
delete_and_return_last_user(default_list)

2
1

IndexError: list index out of range

- IndexError: list index out of range - Мы обратились к несуществующему индексу
- Проблема в переменной DEFAULT_USER_COUNT = 3, так как она не изменилась, а при удалении элемента из списка его длина изменилась, целесообразно использовать функцию len()

In [39]:
DEFAULT_USER_COUNT = len(default_list)
default_list=['A100','A101','A102']

def delete_and_return_last_user(default_list):
    #Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя.
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
   
    return default_list[len(default_list)-1]

In [40]:
delete_and_return_last_user(default_list)

'A101'

In [41]:
delete_and_return_last_user(default_list)

'A100'